ion-toolbar{
    --padding-top: 0.8em;
    --background: #fc2c2c;
}
ion-content{
    --background: rgb(245, 245, 245);
}
.ion{
    font-size: 1.2em;
    padding: 0.5em;
    font-weight: 400;
    color: white;
}
.la1{
    font-size: 1em;
    padding: 0.5em;
    font-weight: 400;
    color: white;
}
.it1{
    margin-top: 2em;
}