<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-back" class="ion" [routerLink]="[ '/set']"></ion-icon>
    <ion-label class="la1">账号安全</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="it1" lines="full" [routerLink]="[ '/changemm' ]">
    <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    <ion-label>修改密码</ion-label>
  </ion-item>
  <ion-item lines="full" [routerLink]="[ '/changemb' ]">
    <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    <ion-label>修改密保问题</ion-label>
  </ion-item>
</ion-content>