ion-toolbar {
    --background: #fc2c2c;
  }
  
  ion-grid{
    margin-top: 0.3em;
    margin-bottom: -0.2em;
  }
  
  ion-tab-button{
    color: #ffd9d9;
    outline: none;
  }
  ion-tab-button.active{
    color: #ffffff;
  }
  .tt{
    text-align: center;
    margin-top: 1em;
}
.tit1{
    color: rgb(255, 255, 255);
}
.iback{
  color: white;
  font-size: 1.6em;
}