.hr1{
    border-style: dashed;
    width: 100%;
    border-color: rgb(150, 150, 150);
    margin-top: 0.4em;
    margin-bottom: 0.6em;
}
.mph{
    margin: 0px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.tit1{
    font-size: 1.2em;
}
.img1{
    width: 30%;
    height: 100%;
    margin-left: 0px;
    margin-right: 1em;
}
.pd1{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0.8em;
}
.pd2{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0.8em;
}
.l1{
    font-size: 0.9em;
}
.l2{
    font-size: 0.5em;
}
.img2{
    width: 90%;
}