.hr1{
    margin:0.5em;
}
.hr2{
    width:90%;
    margin:0 auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0));
}
.tit1{
    font-size: 1.3em;
}
.tit2{
    font-size: 1.5em;
    text-align: center;
}
.it1{
    font-size: 0.7em;
}
.it2{
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.bttn{
    width: 100%;
    height: 3em;
    padding-right: 0.2em;
    font-size: 0.8em;
}
.pd0{
    padding: 0px;
    margin-top: 0.3em;
}