ion-toolbar {
    --background: #fc2c2c;
  }
  
  ion-content{
    --background: rgb(245, 245, 245);
  }
  .icon1{
      margin-top: 0.6em;
      color: white;
      font-size: 1.6em;
  }
  .card1{
    background: white;
    margin-top: 1.4em;
  }
  .img1{
    width: 100%;
  }
  .pd0{
    padding:0px;
  }
  .row3{
    margin-top:0.3em;
  }
  .row2{
    margin-top:1.5em;
  }
  .la1{
    color: black;
  }
  .la2{
    color: #6d6d6d;
    font-size: 0.8em;
  }
  .la3{
    color: red;
    font-size: 0.9em;
    font-weight: bold;
  }
  .la4{
    font-size: 0.9em;
  }
  .sp1{
    padding-left:0.2em;
  }