ion-content{
    --background: rgb(245, 245, 245);
}
.tit3{
    color: #fa1a1a;
  margin-top: 0.5em;
  margin-left: 1.6em;
  font-weight: 600;
}
.card1{
    background: white;
    margin-top: 1.4em;
  }
  .img1{
    width: 100%;
  }
  .pd0{
    padding:0px;
  }
  .row3{
    margin-top:0.3em;
  }
  .row2{
    margin-top:1.5em;
  }
  .la1{
    color: black;
  }
  .la2{
    color: #6d6d6d;
    font-size: 0.8em;
  }
  .la3{
    color: rgb(155, 155, 155);
    font-size: 0.9em;
    font-weight: bold;
  }
  .la4{
    font-size: 0.9em;
  }