ion-content{
    --background: rgb(245, 245, 245);
}
.card1{
    background: white;
}
.had{
    padding-top: 0.6em;
    padding-bottom: 0px;
}
.buton{
    width: 100%;
    margin-top: 1em;
}
.tit1{
    font-size: 1.2em;

}
.tit2{
    font-size: 0.8em;
}