ion-toolbar{
    --padding-top: 0.8em;
    --background: #fc2c2c;
}
ion-content{
    --background: rgb(245, 245, 245);
}
.ion{
    font-size: 1.2em;
    padding: 0.5em;
    font-weight: 400;
    color: white;
}
.la1{
    font-size: 1em;
    padding: 0.5em;
    font-weight: 400;
    color: white;
}
.col1{
    margin-top: 1em;
    text-align: center;
}
.la2{
    font-size: 0.8em;
    color: red;
}
.it1{
    margin-top: 0.5em;
}
.la3{
    padding-right: 2.7em;
}
.pdl{
    padding-left: 0px;
}
.but1{
    margin-top: 1.5em;
    height: 3.5em;
    --background: #ff4b4b;
}
.la4{
    padding-right: 1.7em;
}