ion-content{
    --background: rgb(245, 245, 245);
}
.img1{
    width: 100%;
}
.card1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0px;
    margin-right: 0px;
    background: white;
}
.cardt{
    margin-top: -0.5em;
    font-size: 1.1em;
    font-weight: bold;
}
.pd0{
    padding: 0px;
}
.tit1{
    color:black;
    font-size: 1em;
    text-align: center;
    margin-top: 0.4em;
}
.it{
    --padding-bottom:0.5em;
}