.tit1{
text-align: center;
font-size: 1.2em;
margin-right: 3.4em;
}
.img1{
    width: 100%;
}
ion-content{
    --background: rgb(245, 245, 245);
}
.la1{
    color: red;
    font-size: 1.2em;
}
.la2{
    font-size: 1.2em;
    font-weight: 400;
}
.la3{
    color: beige;
}
.itg1{
    margin-top: 0.8em;
}
.la4{
    text-align: center;
}
.but2{
    width: 7.2em;
    --box-shadow: none;
    padding: 0px;
    margin: 0px;
    --border-radius:0px; 
    --background: rgb(255, 51, 0);
}
.but1{
    width: 7.2em;
    --box-shadow: none;
    padding: 0px;
    margin: 0px;
    --border-radius:0px; 
    --background: rgb(255, 102, 0);
}
.la5{
    text-align: center;
}
.it1{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.p1{
    font-size: 0.8em;
}
.p2{
    font-size: 0.9em;
    color: rgb(27, 27, 27);
}
.iocn3{
    font-size: 1.5em;
}