<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="tit1">{{commodity.cname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager="true">
    <ion-slide *ngFor="let item of img">
      <img class="img1" src={{item}} alt="img">
    </ion-slide>
  </ion-slides>
  <ion-item-group>
    <ion-item lines="none">
      <ion-label class="la1">￥{{commodity.oneprice}}</ion-label>
      <ion-chip>
        <ion-label class="la3">月销量20</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="la2">{{commodity.cname}}</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item lines="none" class="itg1">
    <ion-label class="la4">
      <ion-icon name="phone-portrait" class="iocn3"></ion-icon>
      <p class="p1">{{commodity.attributes1}}</p>
      <p class="p2">屏幕尺寸</p>
    </ion-label>
    <ion-label class="la4">
      <ion-icon name="battery-charging" class="iocn3"></ion-icon>
      <p class="p1">{{commodity.attributes2}}</p>
      <p class="p2">电池容量</p>
    </ion-label>
    <ion-label class="la4">
      <ion-icon name="pint"  class="iocn3"></ion-icon>
      <p class="p1">{{commodity.attributes3}}</p>
      <p class="p2">运行内存</p>
    </ion-label>
    <ion-label class="la4">
      <ion-icon name="help-buoy"  class="iocn3"></ion-icon>
      <p class="p1">{{commodity.attributes4}}</p>
      <p class="p2">CPU型号</p>
    </ion-label>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col size="4" no-padding>
          <ion-item lines="none" class="it1">
            <ion-icon name="add-circle" color="medium" (click)="add1()"></ion-icon>
            <ion-label class="la5">{{num}}</ion-label>
            <ion-icon name="remove-circle" color="medium" (click)="remove1()"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size="7" no-padding>
          <ion-button class="but1" (click)="joinshopping()">
            加入购物车
          </ion-button>
          <ion-button class="but2">
            立即购买
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>